/* ==UserStyle==
@name           sensha's betterer todoist
@namespace      github.com/openstyles/stylus
@version        2.1.11
@description    A new userstyle
@author         sensha
@updateURL		https://github.com/senshastic/sensha-betterer-todoist/raw/refs/heads/main/css/todoist_less.user.css
@preprocessor 	less 
@var select		gradType    "Gradient style" ["animated:Animated*", "flouss: Static", "nouss:None"]
@var checkbox	grain "Grainy texture" 1
@var color   	gradcolor1 "Gradient Color 1" rgb(8, 19, 54)
@var color   	gradcolor2 "Gradient Color 2" rgb(26, 58, 102)
@var color   	gradcolor3 "Gradient Color 3" rgb(43, 1, 91)
@var color   	gradcolor4 "Gradient Color 4" rgb(122, 2, 54)

==/UserStyle== */
@-moz-document domain("app.todoist.com") {

	/*SECTION [SNESHLIB - Start] */
	/*ANCHOR [VARIABLES]*/
	@hap				: url('https://github.com/senshastic/sneshGPT/blob/main/assets/Hap.png?raw=true');
	@borderRadius		: 12px;
	@creamColor			: #d0b575;
	@creamColorMuted	: #4f4733;



	/*ANCHOR [DETACHED RULESETS] */
	@gradientBackground: {
		background: linear-gradient(109.6deg, @gradcolor1 0%, @gradcolor2 25%, @gradcolor3 50%, @gradcolor4 100%);
	}

	@gradientAnimation: {
		0% {
			background-position: 0% 0%;
		}
		50% {
			background-position: 100% 100%;
		}
		100% {
			background-position: 0% 0%;
		}
	}

	@buttons: {
		background-color: rgba(5, 5, 5, .18) !important;
		border-radius: 12px !important;
		box-shadow: 0 8px 15px rgba(0, 0, 0, 0.37);
		backdrop-filter: blur(100px) saturate(110%);
		-webkit-backdrop-filter: blur(100px);
		transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	}

	@buttonsHover: {
		background-color: rgba(5, 5, 5, 0) !important;
		border-radius: 12px;
		box-shadow: 0 8px 15px rgba(0, 0, 0, 0.37);
		backdrop-filter: blur(100px) saturate(110%);
		-webkit-backdrop-filter: blur(100px);
		transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
		transform: translateY(-4px);
	}

	@transparentButtons: {
		border-radius: 12px !important;
		box-shadow: 0 8px 15px rgba(0, 0, 0, 0.37);
		backdrop-filter: blur(100px) saturate(110%);
		-webkit-backdrop-filter: blur(100px);
		transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	}

	@buttonsFlat: {
		border-radius: 12px !important;
		backdrop-filter: blur(100px) saturate(110%);
		-webkit-backdrop-filter: blur(100px);
		transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	}


	@transparentButtonsHover: {
		border-radius: 12px;
		box-shadow: 0 8px 15px rgba(0, 0, 0, 0.37);
		-webkit-backdrop-filter: blur(100px);
		backdrop-filter: blur(100px) saturate(110%);
		transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
		transform: translateY(-4px);
	}


	@buttonsHoverWhite: {
		background-color: rgba(5, 5, 5, 0) !important;
		border-radius: 12px;
		box-shadow: 0 8px 15px rgba(255, 255, 255, .37) !important;
		backdrop-filter: blur(100px) saturate(110%);
		-webkit-backdrop-filter: blur(100px);
		transform: translateY(-4px);
		transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, transform box-shadow 0.3s ease-in-out;
	}

	@menuItemHover: {
		border: 1px solid rgba(0, 204, 255, 0.6);
		background-color: rgba(5, 5, 5, 0.35) !important;
		box-shadow: 0 0 10px 2px rgba(0, 204, 255, 0.3);
		transform: translateY(-2px);
		transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
		border-radius: 12px;
	}

	@grainyTexture: {
		content: "" !important;
		position: absolute !important;
		top: 0 !important;
		left: 0 !important;
		width: 100% !important;
		height: 100% !important;
		pointer-events: none !important;
		z-index: 0 !important;
		background: url("https://raw.githubusercontent.com/senshastic/sensha-betterer-todoist/refs/heads/main/assets/noise.svg") repeat !important;
		opacity: 0.23 !important;
	}

	@backdrop: {
		background-color: rgba(5, 5, 5, .18) !important;
		border-radius: 12px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(100px) saturate(110%);
		-webkit-backdrop-filter: blur(100px);
		transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
		padding: 5px;
	}

	@disappear: {
		background: transparent !important;
		border: 0px;
		box-shadow: none;
	}

	@transparent: {
		background: transparent;
	}

	@noise: {
		content: "" !important;
		background: url("https://raw.githubusercontent.com/senshastic/sensha-betterer-todoist/refs/heads/main/assets/noise.svg") repeat !important;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
		position: fixed;
		top: 0 !important;
		left: 0 !important;
		width: 100% !important;
		height: 100% !important;
		pointer-events: none !important;
		z-index: -1 !important;
		opacity: 0.23 !important;
	}


	@boxShadowHover: {
		box-shadow: 0 0px 10px rgba(0, 204, 255, 0.6);
		background-color: rgba(0, 81, 255, 0.1);
	}

	@textArea: {
		border: 1.5px solid @creamColor !important;
		background-color: transparent !important;
	}

	/* ANCHOR [ANIMATIONS] */
	@hoverChannelSlide: {
		margin-left: 10px !important;
		transition: margin-left 0.2s ease;
		background-color: transparent;
	}

	/* Snake */
	@snakeTarget: {
		position: relative;
		padding: 16px;
		border-radius: 18px;
		background: rgba(0, 0, 0, 0.7);
		z-index: 1;
		overflow: hidden;
	}


	@snakeBefore: {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: inherit;
		padding: 3px;
		background: linear-gradient(90deg, transparent 0%, transparent 40%, white 50%, transparent 60%, transparent 100%);
		background-size: 200% 200%;
		animation: smoothSnakeLine 6s linear infinite;
		-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
		mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
		-webkit-mask-composite: xor;
		mask-composite: exclude;
		z-index: -1;
	}

	@keyframes smoothSnakeLine {
		0% {
			background-position: 0% 50%;
		}
		100% {
			background-position: 200% 50%;
		}
	}

	/*!SECTION [SNESHLIB - End]*/
	
	/*ANCHOR [ROOT] */
	
	:root {
		--product-library-divider-primary: @creamColorMuted !important;
	}
	

	/* Transition effect on hover for specific class */
	.CyYcjJUieBpMa9EpeaMCgT06VDxGmHUC {
		transition: margin-left 0.2s ease;
	}
	.CyYcjJUieBpMa9EpeaMCgT06VDxGmHUC:hover {
		margin-left: 10px !important;
	}

	/* Background color for selected options in dark theme */
	.theme_dark .Gg2ouAZt3AfA8s1TkmrhQgWAfyxvx777 div[role=option][aria-selected=true] {
		background-color: #004cff29 !important;
	}

	/* Animated background gradient for main section */

	/*ANCHOR [Gradient background options and grain] */

	main when (@gradType =flouss) {
		@gradientBackground();
	}


	main when (@gradType =animated) {
		@gradientBackground();
		background-size: 400% 400%;
		animation: gradientAnimation 20s ease infinite;
	}


	main when (@gradType =nouss) {
		background-color: @gradcolor1 !important;
	}

	._zbmK5I when (@gradType =flouss) {
		@gradientBackground();
	}


	._zbmK5I when (@gradType =animated) {
		@gradientBackground();
		background-size: 400% 400%;
		animation: gradientAnimation 20s ease infinite;
	}


	._zbmK5I when (@gradType =nouss) {
		background-color: @gradcolor1 !important;
	}
	

	main::before when (@grain =1) {
		@grainyTexture();
	}

	._zbmK5I::before when (@grain =1) {
		@grainyTexture();
	}
	


	@keyframes gradientAnimation {
		@gradientAnimation();
	}

	/* Debugging background color settings */
	.fb8d74bb,
	._14423c92,
	._5f8879d9,
	.task_list_item__content,
	.fwBw5Mb,
	header,
	._8c75067a,
	.task_list_item {
		background-color: #00ffff00 !important;
	}

	/* Styling for task list items with interactive effects */
	.task_list_item {
		background-color: rgba(255, 0, 0, 0.055) !important;
		border-radius: 12px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(15px) saturate(110%);
		-webkit-backdrop-filter: blur(15px);
		transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
		padding: 5px;
		margin-top: 3px;
	}
	.task_list_item:hover {
		box-shadow: 0 0px 10px rgba(0, 204, 255, 0.6);
		background-color: rgba(0, 81, 255, 0.1);
	}

	/* Spacing adjustments for action elements */
	.full_width_actions,
	.manager {
		margin-top: 13px;
		margin-top: 20px;
	}

	/* Styling for search bar */
	.Gg2ouAZt3AfA8s1TkmrhQgWAfyxvx777 {
		background-color: rgba(5, 5, 5, 0.281) !important;
		border-radius: 12px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(100px) saturate(110%);
		-webkit-backdrop-filter: blur(100px);
		transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	}

	/* Menu list styling */
	.reactist_menulist {
		background-color: rgba(5, 5, 5, 0.281) !important;
		border-radius: 12px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(100px) saturate(110%);
		-webkit-backdrop-filter: blur(100px);
		transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
		padding: 5px;
	}

	/* Button hover effect for subtle visual change */
	.ElZ8nipNhBcVTHErb8wvnguehEVDW9PB:hover {
		background-color: rgba(18, 47, 212, 0.199);
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
		border: 1px solid rgba(255, 255, 255, 0.2);
	}



	/* Styling for specific Rw9FyHe and fb8d74bb elements */
	.Rw9FyHe.FAtDxMs.fb8d74bb {
		background-color: rgba(5, 5, 5, 0.281) !important;
		border-radius: 12px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(100px) saturate(110%);
		-webkit-backdrop-filter: blur(100px);
		transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
		padding: 5px;
	}

	/* Styling for input areas and dropdown elements */
	.UG7FuCUdhr5bkYCXyq0cwle86kiV2_2j,
	.task_editor__editing_area,
	.is-empty is-editor-empty,
	.task_editor__description_field,
	.EJHqXpA,
	.reminders_picker,
	.dropdown_select_input,
	.dropdown_select--popup,
	.scheduler,
	.no-focus-marker,
	.menu_list,
	.Wc4wki5,
	.zlBVInu,
	.task_editor,
	.form_field_control,
	div[data-open="true"][role="dialog"][data-wide-modal],
	div[data-open="true"][role="dialog"][data-enter="true"],
	.IV3aBjz,
	div[role="listbox"][data-dialog][data-open="true"],
	.n3JR38_VJZNSqphkSnqGzgzMX5Ug1zkF, 
	.GB_window,
	.g_header,
	.e96bf360[aria-selected=true], 
	.f631ccbe[aria-selected=true] {
		background-color: rgba(5, 5, 5, 0.281) !important;
		border-radius: 12px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(100px) saturate(110%);
		-webkit-backdrop-filter: blur(100px);
		transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
		padding: 5px;
	}

	.cpnuPrF,
	.eeKYrIy,
	.OhQMAqj,
	.WnUB0OK,
	.T24Zjm0,
	.c5sAvth,
	.chMV2JN,
	.dea25485 {
		border-color: #cfcdcd3f !important;
	}


	._3930afa0:hover:not([aria-disabled=true]) {
		background-color: rgba(5, 5, 5, 0) !important;
		border-radius: 12px;
		box-shadow: 0 8px 15px rgba(0, 0, 0, 0.37);
		backdrop-filter: blur(100px) saturate(110%);
		-webkit-backdrop-filter: blur(100px);
		transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
		transform: translateY(-2px);
	}

	._3930afa0[aria-expanded=true]  {
		background-color: rgba(5, 5, 5, 0) !important;
	}

	.dropdown_select__option--highlighted,
	[role="menuitem"][data-active-item="true"] {
		border: 1px solid rgba(0, 204, 255, 0.6);
		background-color: rgba(5, 5, 5, 0.35) !important;
		box-shadow: 0 0 10px 2px rgba(0, 204, 255, 0.3);
		transform: translateY(-2px);
		transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
		border-radius: 12px;
	}

	/* Board section and button styling */
	.board_section,
	.board_add_section_button {
		background-color: rgba(5, 5, 5, 0.452) !important;
		border-radius: 12px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(100px) saturate(110%);
		-webkit-backdrop-filter: blur(100px);
		transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
		padding: 5px;
		margin-top: 2px;
	}
	.board_section:hover,
	.board_add_section_button:hover {
		box-shadow: 0 0px 10px rgba(0, 204, 255, 0.6);
		background-color: rgba(0, 81, 255, 0.1);
	}

	/* Styling for board task button */
	.board_task__button {
		background-color: rgba(12, 63, 158, 0.329) !important;
		border-radius: 12px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(15px) saturate(110%);
		-webkit-backdrop-filter: blur(15px);
		transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
		padding: 5px;
	}

	/* Board task hover effect for dark theme */
	.theme_dark .board_task:hover {
		box-shadow: 0 0px 10px rgba(0, 204, 255, 0.6);
		background-color: rgba(0, 81, 255, 0.1);
	}

	/* Font face definition for custom font */
	@font-face {
		font-family: 'CC Wild Words';
		src: local('c');
		font-weight: normal;
		font-style: normal;
	}

	/* Styling for board task in dark theme */
	.theme_dark .board_task {
		background-color: rgba(0, 204, 255, 0);
	}

	/* Apply custom font with fallback */
	._97298b1b,
	._6d357d76 {
		font-family: 'CC Wild Words', sans-serif !important;
	}
	
	/* fix random ass menu */ 

	.theme_dark .GB_window .g_header,
	.GB_window .g_header,
	.LII_q7R, .LII_q7R svg {
		background-color: rgba(0, 204, 255, 0) !important;
	}
	
	.fwBw5Mb.H_7Dz2n {
		border: none !important;
	}
	
	
	.task_list_item{
		border-bottom:0.5px solid @creamColorMuted !important;
		margin-top: 3px;
	}
	
	.section header button.collapser,
	.theme_dark .task_list_item:hover .task_list_item__actions, .theme_dark .task_list_item__actions__active,
	.theme_dark .board_task:focus .board_task__details__actions, .theme_dark .board_task:hover .board_task__details__actions, .theme_dark .board_task__details__actions--is_expanded {
		@disappear();
	}
	
	.Z0HemHa {
		background-color: transparent !important;
	}
	
	.task_list_item .task_list_item__collapser:hover, .task_list_item .task_list_item__drag_handle:hover,
	.section_drag_and_drop_handler:hover {
		@buttonsHover();
	}
	
	.theme_dark .task_list_item:hover .task_list_item__actions, .theme_dark .task_list_item__actions__active,
	.theme_dark .board_task:focus .board_task__details__actions, .theme_dark .board_task:hover .board_task__details__actions, .theme_dark .board_task__details__actions--is_expanded,
	.ejnfExE::before{
		@backdrop();
	}
	
	
	.theme_dark .board_task__details__actions__menu_button:not(:disabled):focus, .theme_dark .board_task__details__actions__menu_button:not(:disabled):hover, .theme_dark .board_task__details__actions__person_picker:not(:disabled):focus, .theme_dark .board_task__details__actions__person_picker:not(:disabled):hover,
	.theme_dark .task_list_item__actions a:not(:disabled):focus, .theme_dark .task_list_item__actions a:not(:disabled):hover, .theme_dark .task_list_item__actions > button:not(:disabled):focus, .theme_dark .task_list_item__actions > button:not(:disabled):hover,
	.ejnfExE::before {
		@buttonsHover();
	}
	
	/* ANCHOR [CALENDAR VIEW] */
	
	.fc .fc-highlight{
		@backdrop();
	}
	
	.task_editor__editing_area, .task_editor.focus-marker-enabled-within,
	.no-focus-marker {
		@disappear();
	}

	/* ANCHOR [SIDEBAR] */
	body:not(.dnd_active) .WBkT27H, body:not(.dnd_active) .nuMVpup:focus-within:focus-visible,
	body:not(.dnd_active) .WBkT27H, body:not(.dnd_active) .nuMVpup:focus-within:focus-visible{
		background-color: transparent !important;
	}

		

	/* ANCHOR [MY PROJECTS PAGE] */

	li[role="treeitem"]:hover{
		@buttonsHover();
	}
	
	.IIqv46p:hover:not(:focus-visible):after, .IIqv46p:hover:not(:focus-visible):before,
	.IIqv46p:hover:not(:focus-visible)::after, .IIqv46p:hover:not(:focus-visible)::before{
		background-color: transparent !important;
	}

}

